body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

p {
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #edece3;
}

.background {
    margin: 30px;
    background: white;
    padding: 50px;
    min-width: 1000px;
    max-width: 1000px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

#name {
    margin: 10px 0;
    font-weight: 700;
    font-size: 42px;
}

#role {
    color: #777777;
    margin: 0;
    font-weight: 600;
    font-size: 24px;
}

.details {
    display: flex;
    flex-wrap: wrap;
    gap: 0 50px;
    margin: 10px 0;
}

.details > p {
    color: #777777;
    font-family: 'Manrope';
    font-weight: 600;
    font-size: 12px;
    margin-bottom: 3px;
}
.details p i {
    margin-right: 5px;
}

.columns {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.section h2 {
    padding: 5px 0;
    border-bottom: 2px solid black;
}

.section h4 {
    margin: 10px 0;
}

.section p {
    font-size: 14px;
    color: #777777;
    font-family: 'Manrope';
}

.section ul {
    padding: 0 0 0 10px;
    margin: 5px;
}

.section li {
    font-size: 12px;
    color: #777777;
    font-family: 'Manrope';
}

.section a {
    font-size: 14px;
    font-family: 'Manrope';
    color: #5c5c5c;
}

.section a:visited {
    color: #5c5c5c;
}

.line-break {
    margin: 10px 0;
    border: 1px dotted #dbdbdb;
}

.left-column {
    width: 55%;
}

.right-column {
    width: 45%;
}

.edu-basic {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.edu-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.edu-left h3 {
    margin: 0;
}

.edu-left h5 {
    margin: 10px 0;
}

.edu-attributes {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.edu-attributes > p {
    color: #777777;
    font-family: 'Manrope';
    font-weight: 600;
    font-size: 12px;
}
.edu-attributes p i {
    margin-right: 5px;
}

.edu-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.edu-marks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    align-items: center;
    border-left: 1px solid #777777;
    padding: 5px 0px 5px 10px;
}

.edu-right p:nth-child(2) {
    font-size: 18px;
}


.projects h3 {
    margin: 10px 0;
}
.projects p:first-of-type {
    color: #777777;
    font-family: 'Manrope';
    font-weight: 600;
    font-size: 12px;
}
.projects p:nth-of-type(2) {
    font-size: 12px;
    margin-top: 5px;
}
.projects p i {
    margin-right: 5px;
}
.projects ul {
    margin-top: 0;
}

.skills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.skills-container h3 {
    margin-top: 0;
    margin-bottom: 10px;
}

.skill {
    color: #5c5c5c;
    font-family: 'Manrope';
    font-size: 12px;
    padding: 3px 8px;
    border-radius: 5px;
    border: 1px solid #dbdbdb;
}

.certifications-container h4 {
    margin: 0;
}

.certifications-container h5 {
    color: #5c5c5c;
    margin: 0;
}

.links {
    display: flex;
    flex-direction: column;
}
.link {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}
.link {
    font-size: 24px;
}
.link h5 {
    font-size: 18px;
    margin: 0;
}

.links .line-break {
    margin: 5px 0;
}

/* Screen-specific styles */
@media screen {
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .background {
        margin: 30px;
        background: white;
        padding: 50px;
        min-width: 1000px;
        max-width: 1000px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    }
}

@media print {
    @page {
        size: Letter;
        margin: 0;
    }
    * {
        user-select: auto !important;
    }
    body {
        background: white;
        margin: 0;
    }
    .container {
        box-shadow: none;
    }
    .background {
        padding: 0.5in 0.75in;
        margin: 0;
        min-width: 8.27in;
        min-height: 10in;
        box-shadow: none;
    }
    #name {
        font-size: 18pt;
        margin: 0;
    }
    #role {
        font-size: 14pt;
        color: #777777;
    }
    .section h2 {
        font-size: 14pt;
        margin: 5px 0;
    }
    .section h4 {
        margin: 0;
    }
    .section li {
        font-size: 10pt;
    }
    .details {
        margin: 0;
    }
    .details p {
        font-size: 10pt;
        color: #777777;
    }
    .projects h3 {
        font-size: 12pt;
        margin: 0;
    }
    .projects p:first-of-type {
        font-size: 10pt;
    }
    .projects p:nth-of-type(2) {
        font-size: 10pt;
        margin-top: 5px;
    }
    .projects p i {
        font-size: 10pt;
    }
    .projects ul {
        font-size: 10pt;
    }
    .edu-left h3 {
        font-size: 12pt;
        margin: 0;
    }
    .edu-left h5 {
        font-size: 10pt;
        margin: 0 0;
    }
    .skills {
        gap: 5px;
    }
    .skills-container h3 {
        font-size: 12pt;
        margin-bottom: 5px;
    }
    .columns {
        gap: 16pt;
    }
    .line-break {
        margin: 5px 0;
    }
    .link h5 {
        font-size: 10pt;
    }
    .links .line-break {
        margin: 3px 0;
    }
}